@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

body {
    background: rgb(0, 0, 0);
    width: 99%;
}

main {
    margin: 0 auto;
    width: 100%;
}

header {
    background: linear-gradient(180.00deg, rgba(37, 37, 37, 0.829), rgba(119, 119, 119, 0) 100%);
    width: 100%;
}

.btn-home {
    border: none;
    width: 92px;
    height: 35px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding-top: 10px;
    cursor: pointer;
}

.btn-primary {
    border: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    cursor: pointer;
}

.btn-secondary {
    width: 224px;
    height: 54px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    margin-left: 20px;
    background: transparent;
    cursor: pointer;
}

/* header section */
.nav-container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
    font-family: Inter;
    font-style: italic;
}

.menu-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    height: 100%;
    padding: 0;
}

.drop-menu {
    visibility: hidden;
    display: none;
}

.nav-item-link {
    margin-left: 0;
    margin-right: 30px;
    list-style: none;
}

.nav-item-link>a {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    margin-top: 5px;
    margin-left: 15px;
}

/* banner section */

.banner-container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content-container {}

.banner-content-container>p {
    width: 520px;
    height: 48px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}

.banner-content-container>h1 {
    width: 520px;
    height: 282px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
}

.banner-content-container>h1>span {
    color: rgb(255, 255, 255);
    font-family: 'Miama', sans-serif;
    font-size: 148px;
    font-weight: 400;
}



.banner-img-container {
    width: 40%;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-right: -250px;
}

.small-card1 {
    width: 193px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding-left: 25px;
    height: 98px;
    position: absolute;
    z-index: 50px;
    margin-top: 130px;
    margin-left: 240px;
}

.small-card1>p {
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 1px;
}

.small-card1>h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    line-height: 10px;
}

.small-card2 {
    width: 193px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 98px;
    position: absolute;
    margin-top: -170px;
    margin-left: -100px;
}



.small-card2>div>h1 {
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
}

.small-card2>div>p {
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 4px;
}

.small-card2>div>span {
    background: rgb(230, 83, 60);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 15px;
    color: rgb(230, 83, 60);
    margin-top: 55px;
}

/* habit section starts here */

.habit-section-container {
    width: 75%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.habit-section-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.all-section-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 40px;
    text-align: center;
}

.all-section-descrip {
    margin-top: 0;
    width: 70%;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    align-items: center;
}

.habit-section-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.habit-section-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.habit-section-img {
    padding: 0;
}

.habit-section-img>img {
    border: 3px solid rgb(63, 62, 62);
    width: 100%;
    border-radius: 50%;
}

.habit-card-title {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 10px;
}

.habit-card-descrip {
    text-align: center;
    width: 70%;
    margin-top: 0;
    color: rgba(245, 220, 220, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

/* run-extra-section-container */

.run-extra-section-container {
    margin: 0 auto;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 35px;
}

.run-extra-section-container>img {
    border-radius: 18px;
    width: 46%;
    object-fit: none;
    object-position: 70% 35%;
}

/* review-section starts here*/
.review-section-container {
    margin: 0 auto;
    margin-top: 5%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review-card-container {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}

.review-card {
    text-align: center;
    padding: 25px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 15px;
}

.review-img>img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.client-name {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
}

.client-review {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

/* bmi-calc-section-container starts here */

.bmi-calc-section-container {
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.bmi-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bmi-chart>h2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
}

.bmi-calculator-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 25px;
    padding: 25px;
    width: 100%;
    background: rgb(34, 34, 34);
}

.bmi-chart-table,
th,
td {
    border-collapse: collapse;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 25px;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
}

.bmi-chart-table,
th {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
}

.bmi-calc-form {
    width: 55%;
}

.bmi-calc-form,
input,
select,
option {
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.bmi-calc-form,
option {
    color: black;
}



.bmi-calc-form>h2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
}

.form-field {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    width: 95%;
    height: 55px;
    margin: 10px;
    border: none;
}

.input-field {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-self: stretch;
    width: 100%;
}

/* our-team-section-container starts here*/
.our-team-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-team-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-team-img-container {
    width: 75%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    margin: 0 auto;
    margin-top: 45px;
}

.our-team-img-card {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.our-team-img>img {
    margin: 0 auto;
    position: relative;
    width: 426.67px;
    height: 352px;
    border-radius: 18px;
}

.our-team-name {
    position: absolute;
    color: white;
    margin-top: -70px;
    padding-left: 25px;
}

.our-team-img>p {
    position: absolute;
    text-align: left;
    margin-top: -40px;
    padding-left: 25px;
}





















/* mobile responsive media*/
@media screen and (max-width: 576px) {
    body {
        background: rgb(0, 0, 0);
        width: 97%;
    }

    main {
        margin: 0 auto;
        width: 100%;
    }

    header {
        margin: 0;
        background: linear-gradient(180.00deg, rgba(37, 37, 37, 0.829), rgba(119, 119, 119, 0) 100%);
        height: 1100px;
        width: 97%;
        padding: 0;
        padding-left: 15px;
        border: none;
    }



    .btn-primary {
        border: none;
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        width: 45%;
        height: 54px;
        border-radius: 42px;
        background: rgb(230, 83, 60);
        cursor: pointer;
    }

    .btn-secondary {
        width: 45%;
        height: 54px;
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        box-sizing: border-box;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 42px;
        margin-left: 20px;
        background: transparent;
        cursor: pointer;
    }

    /* header section */
    .nav-container {
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-title {
        color: rgb(230, 83, 60);
        font-weight: 800;
        font-family: Inter;
        font-style: italic;
        width: 15%;
    }

    .menu-item-container {
        visibility: hidden;
        justify-content: end;
    }


    .nav-item-link {
        display: none;
    }

    .drop-menu {
        display: flex;
        justify-content: end;
        visibility: visible;
        position: absolute;
        display: inline;
        margin-right: 15px;
        cursor: pointer;
    }

    .drop-menu>a>img {
        width: 24px;
        height: 24px;
    }

    /* banner section */

    .banner-container {
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .banner-content-container {}

    .banner-content-container>p {
        width: 70%;
        height: 78px;
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        margin-bottom: 40px;
    }

    .banner-content-container>h1 {
        width: 75%;
        height: 132px;
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 35px;
        font-weight: 900;
        line-height: 120%;
    }

    .banner-content-container>h1>span {
        color: rgb(255, 255, 255);
        font-family: 'Miama', sans-serif;
        font-size: 78px;
        font-weight: 400;
    }



    .banner-img-container {
        margin-top: 50px;
        width: 40%;
        min-height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        margin-left: -250px;
        width: 353px;
        height: 588px;
    }

    .small-card1 {
        width: 40%;
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(20px);
        background: rgba(255, 255, 255, 0.1);
        padding-left: 25px;
        height: 88px;
        position: absolute;
        margin-top: 30px;
        margin-left: 190px;
    }

    .small-card1>p {
        color: rgba(255, 255, 255, 0.65);
        font-family: Inter;
        font-size: 9px;
        font-weight: 400;
        line-height: 1px;
    }

    .small-card1>h1 {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 30px;
        font-weight: 900;
        line-height: 10px;
    }

    .small-card2 {
        width: 40%;
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(20px);
        background: rgba(255, 255, 255, 0.1);
        padding: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 88px;
        position: absolute;
        margin-left: 20px;
        margin-top: -300px;
    }



    .small-card2>div>h1 {
        color: rgb(250, 250, 249);
        font-family: Inter;
        font-size: 18px;
        font-weight: 900;
    }

    .small-card2>div>p {
        color: rgba(239, 237, 232, 0.65);
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 4px;
    }

    .small-card2>div>span {
        background: rgb(230, 83, 60);
        border-radius: 50%;
        width: 40%;
        height: 40px;
        padding: 15px;
        color: rgb(230, 83, 60);
        margin-top: 55px;
        font-size: 7px;
    }


    /* habit section responsive starts here */
    .habit-section-container {
        width: 95%;
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
        border: none;
    }

    .habit-section-content {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }

    .all-section-title {
        text-align: center;
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 35px;
        font-weight: 900;
        line-height: 120%;
        margin-bottom: 40px;
    }

    .all-section-descrip {
        margin-top: 0;
        width: 90%;
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    }

    .habit-section-card-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
    }

    .habit-section-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin-bottom: 19px;
    }

    .habit-section-img {
        padding: 0;
    }

    .habit-section-img>img {
        border: 3px solid rgb(63, 62, 62);
        width: 100%;
        border-radius: 50%;
    }

    .habit-card-title {
        text-align: center;
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 120%;
        margin-bottom: 10px;
        text-align: center;
    }

    .habit-card-descrip {
        text-align: center;
        width: 90%;
        margin-top: 0;
        color: rgba(245, 220, 220, 0.5);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
    }


    /* run extra section starts ,here */

    .run-extra-section-container {
        margin: 0 auto;
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 18px;
        background: rgb(34, 34, 34);
        border: none;
    }

    .run-extra-section-container {
        padding: 30px;
        padding-right: 10px;
        margin: 0 auto;
    }

    .run-extra-section-container>img {
        border-radius: 18px;
        margin-right: 5px;
        width: 95%;
        object-fit: fill;
    }

    .run-extra-content {
        margin-bottom: 20px;
    }

    .run-extra-content>a {
        width: 95%;
    }

    .run-extra-content>a>button {
        width: 95%;
    }

    /* review-section starts here*/
    .review-section-container {
        margin: 0 auto;
        margin-top: 5%;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .review-card-container {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
    }

    .review-card {
        text-align: center;
        padding: 25px;
        background: rgba(255, 255, 255, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        margin: 15px;
    }

    .review-img>img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
    }

    .client-name {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 28px;
        font-weight: 900;
        line-height: 120%;
    }

    .client-review {
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }

    .review-section-container>a>button {
        width: 150px;
    }

    /* bmi-calc-section-container starts here */

    .bmi-calc-section-container {
        margin: 0 auto;
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
    }

    .bmi-title-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .bmi-chart>h2 {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 28px;
        font-weight: 900;
        line-height: 120%;
    }

    .bmi-calculator-container {
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
        background: rgb(34, 34, 34);
    }

    .bmi-chart-table,
    th,
    td {
        border-collapse: collapse;
        border: 1px solid rgba(255, 255, 255, 0.1);
        padding: 25px;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 120%;
    }

    .bmi-chart-table,
    th {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
    }

    .bmi-calc-form {
        width: 95%;
        margin-bottom: 7%;
    }

    .bmi-calc-form,
    input,
    select,
    option {
        color: rgba(255, 255, 255, 0.6);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
    }

    .bmi-calc-form,
    option {
        color: black;
    }



    .bmi-calc-form>h2 {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 28px;
        font-weight: 900;
        line-height: 120%;
    }

    .form-field {
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.1);
        width: 95%;
        height: 55px;
        margin: 10px;
        border: none;
    }

    .input-field {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-self: stretch;
        width: 100%;
    }

    /* our-team-section-container starts here*/
    .our-team-section-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .our-team-title-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .our-team-img-container {
        width: 95%;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
        border-radius: 18px;
        background: rgba(255, 255, 255, 0.1);
        margin: 0 auto;
        margin-top: 45px;
    }
    .our-team-img-card{
        display: flex;
        flex-direction: column;
    }

    

    .our-team-img>img {
        margin: 0 auto;
        position: relative;
        width: 353px;
        height: 352px;
        border-radius: 18px;
    }


    .our-team-name {
        position: absolute;
        color: white;
        margin-top: -70px;
        padding-left: 25px;
    }

    .our-team-img>p {
        position: absolute;
        text-align: left;
        margin-top: -40px;
        padding-left: 25px;
    }

    .res-hide{
        display: none;
        visibility: hidden;
        margin-bottom: 0;
    }

    .childe1{
        order: 1;
    }
    .childe2{
        order: 3;
    }
    .childe3{
        order: 2;
    }
    .childe4{
        order: 4;
    }


}